**This notebook is an exercise in the [Data Cleaning](https://www.kaggle.com/learn/data-cleaning) course.  You can reference the tutorial at [this link](https://www.kaggle.com/alexisbcook/inconsistent-data-entry).**

---

In this exercise, you'll apply what you learned in the **Inconsistent data entry** tutorial.

# Setup

The questions below will give you feedback on your work. Run the following cell to set up the feedback system.

In [43]:
from learntools.core import binder
binder.bind(globals())
from learntools.data_cleaning.ex5 import *
print("Setup Complete")

Setup Complete

# Get our environment set up

The first thing we'll need to do is load in the libraries and dataset we'll be using.  We use the same dataset from the tutorial.

In [44]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer

# read in all our data
professors = pd.read_csv("../input/pakistan-intellectual-capital/pakistan_intellectual_capital.csv")

# set seed for reproducibility
np.random.seed(0)

Next, we'll redo all of the work that we did in the tutorial.

In [45]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

# get the top 10 closest matches to "south korea"
countries = professors['Country'].unique()
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")
    
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")
countries = professors['Country'].unique()

All done!

# 1) Examine another column

Write code below to take a look at all the unique values in the "Graduated from" column.

In [46]:
# TODO: Your code here
graduates = professors["Graduated from"].unique()
for graduate in graduates:
    matches = fuzzywuzzy.process.extract(graduate, graduates, limit=2, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    print(matches)

[('Asian Institute of Technology', 100), ('Harbin Institute of Technology', 92)]
[('Balochistan University of Information Technology, Engineering and Management Sciences', 100), ('CECOS University of Information Technology and Emerging Sciences,Peshawar', 75)]
[('University of Balochistan', 100), ('University of Konstanz', 81)]
[("Sardar Bahadur Khan Women's University", 100), ('Abdul Wali Khan University, Mardan', 73)]
[('SRH Hochschule Heidelberg', 100), ('Université de la Rochelle', 45)]
[('Institute of Business Administration,Karachi', 100), ('Institute of Business Administration', 90)]
[('DUET,Karachi', 100), ('IQRA University,Karachi', 46)]
[('University of Turbat', 100), (' University of Turin', 87)]
[('University of Vienna', 100), ('University of Virginia', 86)]
[('Monash University', 100), ('Myongji University', 80)]
[('University of Stirling', 100), (' University of Turin', 88)]
[('Chinese Academy of Sciences', 100), ('Skolkovo Institute of Science and Technology,\xa0', 54)]
[('University of Innsbruck', 100), (' University of Innsbruck', 100)]
[('Vienna University of Technology', 100), ('University of Technology', 87)]
[('University of Paris-Est', 100), ('University of Paris', 90)]
[('The University of Cambridge', 100), ('The University of Auckland', 79)]
[('Harbin Institute of Technology', 100), ('Asian Institute of Technology', 92)]
[('University of Nice, Sophia Antipolis', 100), ('University of South Australia', 69)]
[('The University of York', 100), ('University of York', 90)]
[('Galilée - Université Paris 13', 100), ('University of Paris', 73)]
[('University of Bedfordshire', 100), ('University of BedfordShire', 100)]
[('North Dakota State University', 100), ('Northeastern University,Boston', 75)]
[('Kyungpook National University', 100), ('Foundation University', 72)]
[('The University of Manchester', 100), ('University of Manchester', 92)]
[('National University of Sciences and Technology', 100), ('\xa0National University of Sciences and Technology-NIIT', 95)]
[('FAST– National University of Computer and Emerging Sciences', 100), ('FAST– National University of Computer and Emerging Sciences,Lahore', 94)]
[('Capital University of Science & Technology', 100), ('Capital University of Science and Technology', 95)]
[('Gomal University', 100), (' Columbia University', 80)]
[('University of Malaya', 100), ('University of Malaga', 95)]
[('KTH Royal Institute of Technology', 100), ('Asian Institute of Technology', 74)]
[('University of Technology', 100), ('Graz University of Technology', 91)]
[('COMSATS Institute of Information Technology', 100), ('COMSATS Institute of Information Technology,Vehari', 92)]
[('Government College University', 100), ('Government College University, Faisalabad', 84)]
[('Mohammad Ali Jinnah University', 100), ('Fatima Jinnah Women University, Rawalpindi', 68)]
[('Shaheed Zulfikar Ali Bhutto Institute of Science and Technology', 100), ('Shaheed Zulfikar Ali Bhutto Institute of Science and Technology,Islamabad', 93)]
[('Blekinge Institute of Technology', 100), ('Beijing Institute of Technology', 92)]
[('University of Grenoble', 100), ('University of Genova', 86)]
[('Politecnico di Torino', 100), ('Politecnico di Milano', 67)]
[('\xa0University of Missouri, KC', 100), ('University of Central Missouri', 87)]
[('University of Bonn', 100), ('\xa0University of Bonn', 100)]
[('University of Paris', 100), ('University of Patras', 92)]
[('The University of Leeds', 100), ('University of Leeds', 90)]
[('\xa0University of Windsor', 100), ('University of Westminster', 83)]
[('\xa0National University of Sciences and Technology-NIIT', 100), ('National University of Sciences and Technology', 95)]
[('University of Trento', 100), ('University of Porto', 87)]
[('Stockholm University', 100), (' Columbia University', 77)]
[('University of New South Wales, Sydney', 100), ('State University of New York System', 70)]
[('Kingston University London', 100), ('London University', 79)]
[('Griffith University', 100), ('University Paris', 74)]
[('University of Salford', 100), ('University Of Salford', 100)]
[('Loughborough University', 100), ('University of Lahore', 74)]
[('International Islamic University,Islamabad', 100), ('International Islamic University', 86)]
[('University of Central Missouri', 100), ('\xa0University of Missouri, KC', 87)]
[('Riphah International University', 100), ('International Islamic University', 86)]
[('University of Bedfordshire', 100), ('University of BedfordShire', 100)]
[('University of Illinois', 100), ('University of Leeds', 78)]
[('University Of Oslo', 100), ('University of Porto', 86)]
[('Nancy 2 University', 100), ('Monash University', 74)]
[('University of Limerick', 100), ('University of Innsbruck', 80)]
[('Ghulam Ishaq Khan Institute of Science and Technology', 100), ('Gwangju Institute of Science and Technology', 79)]
[('University Of Waterloo', 100), ('University of Wales', 83)]
[('University of Stuttgart', 100), ('University of Turbat', 84)]
[('Liverpool John Moores University', 100), ('John Moorse University, Liverpool', 97)]
[('University Of Caen', 100), ('University of Kent', 89)]
[('Paris Tech University of Eurecom', 100), ('University of Paris-Est', 76)]
[('University of Salford', 100), ('University Of Salford', 100)]
[('Lahore University of Management Sciences', 100), ('University of Management and Technology', 73)]
[('Dresden University Of Technology, Dresden\xa0', 100), (' Delft University of Technology', 77)]
[('COMSATS Institute of Information Technology,Vehari', 100), ('COMSATS Institute of Information Technology', 92)]
[('COMSATS Institute of Information Technology,Wah Cantt', 100), ('COMSATS Institute of Information Technology', 90)]
[('TU Berlin', 100), ('University of Bergen', 41)]
[('FAST– National University of Computer and Emerging Sciences,Islamabad', 100), ('FAST– National University of Computer and Emerging Sciences', 92)]
[('Tsinghua University', 100), ('Sindh University', 86)]
[('The University of Auckland', 100), ('The University of Leeds', 82)]
[('IQRA University', 100), ('ISRA University', 93)]
[('Universiti Teknologi PETRONAS', 100), ('Universiti Technologi', 76)]
[('COMSATS Institute of Information Technology,Islamabad', 100), ('COMSATS Institute of Information Technology', 90)]
[('Razak School of Engineering and Advanced Technology, Universiti Teknologi Malaysia (UTM)', 100), ('University of Engineering and Technology,Taxila', 64)]
[('National University of Modern Languages', 100), ('National University of Modern Languages,Islamabad', 89)]
[('University of Engineering and Technology', 100), ('University of Engineering & Technology', 95)]
[('University Institute of Information Technology', 100), ('Information Technology University (ITU)', 89)]
[('University of Arid Agriculture', 100), ('University of Agriculture', 91)]
[('Quaid-i-Azam University', 100), ('Åbo Akademi University,', 73)]
[('Queen Mary University of London', 100), ('London University', 71)]
[('Pakistan Institute of Engineering and Applied Sciences', 100), ('Gwangju Institute of Science and Technology', 58)]
[('Pohang University of Science and Technology', 100), ('City University of Science and Technology', 86)]
[('Uppsala University', 100), ('University of Wales', 70)]
[('Kyung Hee University', 100), ('Chosun University', 76)]
[('University of Liverpool', 100), ('University of Limerick', 80)]
[('University of Sunderland', 100), ('University of Saarland', 87)]
[('Mid Sweden University', 100), ('Middlesex University', 78)]
[('Bahria University,Islamabad', 100), ('IQRA University,Islamabad', 88)]
[('Chosun University', 100), ('\xa0Hongik University', 82)]
[('University of Sussex', 100), ('University of Surrey', 85)]
[('Paris Descartes University', 100), ('University of Paris-Est', 82)]
[('University of Leicester', 100), ('University of Leeds', 86)]
[('University of Porto', 100), ('University of Trento', 87)]
[('University of Manchester', 100), ('Manchester University', 93)]
[('Université Henri Poincaré, Nancy 1,', 100), ('Nancy 2 University', 65)]
[('Bahria University', 100), ('University Paris', 85)]
[('Centre for Advanced Studies in Engineering', 100), ('Pakistan Institute of Engineering and Applied Sciences', 54)]
[('Norwegian University of Science and Technology (NTNU),', 100), ('City University of Science and Technology', 85)]
[('The Islamia University of Bahawalpur ', 100), ('The University of Auckland', 71)]
[('Universiti Technologi', 100), ('University of Technology', 84)]
[('California State University', 100), ('Colorado State University', 85)]
[('University of Genova', 100), ('University of Grenoble', 86)]
[('University of Engineering and Technology,Taxila', 100), ('University of Engineering and Technology', 92)]
[('Liverpool John Moores University', 82), ('University of\xa0Liverpool John Moores University', 79)]
[('Guildford', 100), ('University of Huddersfield', 34)]
[('University of Bradford', 100), ('University of Florida', 84)]
[('Graz University of Technology', 100), ('University of Technology', 91)]
[('Huazhong University of Science and Technology (HUST), Wuhan', 100), ('\xa0National University of Sciences and Technology-NIIT', 79)]
[('University of Konstanz', 100), ('University of Bonn', 85)]
[('National University of Modern Languages,Islamabad', 100), ('National University of Modern Languages', 89)]
[('FAST– National University of Computer and Emerging Sciences,Lahore', 100), ('FAST– National University of Computer and Emerging Sciences', 94)]
[('Gwangju Institute of Science and Technology', 100), ('Skolkovo Institute of Science and Technology,\xa0', 80)]
[('University of Birmingham', 100), ('The University of Birmingham', 92)]
[('Manchester University', 100), ('University of Manchester', 93)]
[('Beijing Institute of Technology', 100), ('Blekinge Institute of Technology', 92)]
[('University of Paisley', 100), ('University of Paris', 90)]
[('Univ of Porto/Univ of Aveiro Portugal/Uni of Minho', 100), ('University of\xa0Liverpool John Moores University', 44)]
[('University of Peshawar', 100), ('University of Paris', 83)]
[('Universität Salzburg', 100), ('Tilburg University', 81)]
[('Colorado State University', 100), ('California State University', 85)]
[('University of Virginia', 100), ('University of Vienna', 86)]
[('University of Orleans', 100), ('University of Saarland', 84)]
[('Zhejiang University', 100), ('Xiamen university', 78)]
[('University of Leeds', 100), ('The University of Leeds', 90)]
[('Foundation University', 100), ('London University', 84)]
[('Barani Institute of Information Technology', 100), ('COMSATS Institute of Information Technology', 87)]
[('Abasyn University', 100), ('\xa0Boston University', 82)]
[('Pir Mehr Ali Shah Arid Agriculture University', 100), ('University of Arid Agriculture', 75)]
[('Preston', 100), ('University Paris', 43)]
[('University of Bergen', 100), ('University of Genova', 85)]
[('Universtiy of Lahore', 100), ('University of Lahore', 95)]
[('HITEC University,Taxila', 100), ('The Ohio State University', 71)]
[('Allama Iqbal Open University', 100), ('University of Malaya', 71)]
[('University of Wales,Aberystwyth', 100), ('University of Wales', 76)]
[('University of Bonn', 100), ('\xa0University of Bonn', 100)]
[('\xa0Hongik University', 100), ('Myongji University', 86)]
[('Skolkovo Institute of Science and Technology,\xa0', 100), ('Gwangju Institute of Science and Technology', 80)]
[('Agricultural University Peshawar', 100), ('IBMS KP Agricultural University Peshawar', 89)]
[('National Textile University', 100), ('Seoul National University', 85)]
[('FAST– National University of Computer and Emerging Sciences,Chiniot-Faisalabad', 100), ('FAST– National University of Computer and Emerging Sciences,Islamabad', 87)]
[('FAST– National University of Computer and Emerging Sciences,Peshawar', 100), ('FAST– National University of Computer and Emerging Sciences', 93)]
[('\xa0Boston University', 100), ('Chosun University', 82)]
[('Brunel University', 100), ('Purdue University', 82)]
[('George Washington University', 100), ('\xa0University of Windsor', 69)]
[('University of the Punjab', 100), ('University of the Punjab,Gujranwala', 81)]
[('University of Bedfordshire', 100), ('University of BedfordShire', 100)]
[('University Of Southern California', 100), ('University of Southern California', 100)]
[('Beihang University', 100), ('Bahria University', 80)]
[('Institute of Business Administration', 100), ('Institute of Business Administration,Sukkur', 91)]
[('Abdus Salam School of Mathematical Sciences,GC University', 100), ('Lahore University of Management Sciences', 62)]
[('Linköping University', 100), ('Jonkoping University', 87)]
[('National College of Business Administration and Economics', 100), ('Institute of Business Administration', 67)]
[('Åbo Akademi University,', 100), ('University Of Caen', 77)]
[('University of Central Punjab', 100), ('University of the Punjab', 77)]
[('University of Ulm', 100), ('University Of Oslo', 86)]
[('University of Agriculture', 100), ('University of Arid Agriculture', 91)]
[('University of Notre Dame Indiana\xa0', 100), ('University of Lahore', 69)]
[('Punjab University College of Information Technology', 100), ('Information Technology University (ITU)', 80)]
[('Ilmenau University of Technology', 100), ('University of Technology', 86)]
[(' Iowa State University', 100), ('California State University', 83)]
[('University of Innsbruck', 100), (' University of Innsbruck', 100)]
[('Vrije University, Amsterdam', 100), ('Manchester University', 68)]
[(' Columbia University', 100), ('Columbia University', 100)]
[('University of Freiburg', 100), ('University of Bergen', 81)]
[(' Delft University of Technology', 100), ('University of Technology', 89)]
[(' University of Texas at Arlington (UTA)', 100), ('The University of Birmingham', 69)]
[(' University of Turin', 100), ('University of Stirling', 88)]
[(' University of Central Florida', 100), ('University of Central Florida', 100)]
[('Saarland University', 100), ('University of Saarland', 93)]
[(' University of Central Florida', 100), ('University of Central Florida', 100)]
[('Oxford Brookes University', 100), ('University of Bergen', 76)]
[('Information Technology University (ITU)', 100), ('University Institute of Information Technology', 89)]
[('University of Canterbury', 100), ('University Of Caen', 81)]
[('University of Patras', 100), ('University of Paris', 92)]
[('Middle East Technical University', 100), ('Technical University of Graz', 77)]
[('University of Bristol', 100), ('University of Bonn', 82)]
[('University Of Southern California', 100), ('University of Southern California', 100)]
[('Northeastern University,Boston', 100), ('North Dakota State University', 75)]
[('Purdue University', 100), ('University Paris', 79)]
[('University of Plymouth', 100), ('University of Porto', 83)]
[('University of South Australia', 100), ('University of South Florida', 82)]
[('Stanford University', 100), ('University of Salford', 85)]
[('Chalmers University of Technology', 100), ('Hamburg University of Technology', 89)]
[('Massachusetts Institute of Technology', 100), ('New York Institute of Technology', 72)]
[('Sapienza University of Rome', 100), ('University of Regina', 81)]
[('Eindhoven University of Technology (TU/e)', 100), ('University of Engineering & Technology', 80)]
[('United Nations University International Institute for Software Technology (UNU-IIST)', 100), ('University Institute of Information Technology', 61)]
[('Georgetown University,DC', 100), ('George Mason University', 81)]
[('RWTH Aachen University', 100), ('South Asian University', 77)]
[(' Columbia University', 100), ('Columbia University', 100)]
[('Rutgers State University of New Jersey, NJ', 100), ('The State University of New Jersey', 80)]
[('University of Florida', 100), ('University of South Florida', 88)]
[('Technical University of Braunschweig', 100), ('Technical University of Graz', 81)]
[('Carnegie Mellon University, Pittsburgh', 100), ('University of Pittsburgh', 75)]
[('The Ohio State University', 100), (' Iowa State University', 83)]
[('National University of Singapore', 100), ('National Textile University', 75)]
[('University of British Columbia', 100), (' Columbia University', 78)]
[('University of Pittsburgh', 100), ('University of Paris', 79)]
[('The State University of New Jersey', 100), ('Rutgers State University of New Jersey, NJ', 80)]
[('The University of Texas at Austin', 100), ('University of South Australia', 74)]
[('Imperial College, University of London', 100), ('Islamia College University ', 73)]
[('University of Colorado\xa0', 100), ('Colorado State University', 85)]
[('University of Bath', 100), ('University of Bayreuth', 90)]
[('Tilburg University', 100), ('Universität Salzburg', 81)]
[('Pompeu Fabra University Barcelona', 100), ('University of Bologna', 67)]
[('University of Management and Technology', 100), (' Delft University of Technology', 81)]
[('COMSATS Institute of Information Technology,Lahore', 100), ('COMSATS Institute of Information Technology', 92)]
[('University of Agriculture, Faisalabad\xa0', 100), ('University of Agriculture, Faisalabad', 100)]
[('University of Engineering & Technology', 100), ('University of Engineering and Technology', 95)]
[('University of Agriculture, Faisalabad\xa0', 100), ('University of Agriculture, Faisalabad', 100)]
[('Fatima Jinnah Women University, Rawalpindi', 100), ('Jinnah University for Women', 74)]
[('Kohat University of Science & Technology, Kohat', 100), ('Capital University of Science & Technology', 86)]
[('Virtual University of Pakistan', 100), ('University of Paris', 73)]
[('Bahauddin Zakariya University', 100), ('Bahria University', 65)]
[('University of the Punjab,Gujranwala', 100), ('University of the Punjab', 81)]
[('Lahore College for Women University', 100), ('Jinnah University for Women', 74)]
[('Superior University, Lahore', 100), ('University of Lahore', 83)]
[('Shaheed Zulfikar Ali Bhutto Institute of Science and Technology,Islamabad', 100), ('Shaheed Zulfikar Ali Bhutto Institute of Science and Technology', 93)]
[('University of South Florida', 100), ('University of Florida', 88)]
[('Politecnico di Milano', 100), ('Politecnico di Torino', 67)]
[('Abdul Wali Khan University, Mardan', 100), ("Sardar Bahadur Khan Women's University", 73)]
[('University of Lahore', 100), ('Universtiy of Lahore', 95)]
[('Minhaj University Lahore', 100), ('University of Lahore', 82)]
[('Lahore Leads University', 100), ('University of Lahore', 84)]
[('Middlesex University', 100), ('Mid Sweden University', 78)]
[('Beijing Institute of Technology Beijing', 100), ('Beijing Institute of Technology', 89)]
[('Beaconhouse National University', 100), ('Kyungpook National University', 73)]
[('Hamdard University', 100), ('Saarland University', 81)]
[('University Paris', 100), ('University of Paris', 91)]
[('Sindh University', 100), ('Tsinghua University', 86)]
[('NED University of Engineering And Technology', 100), ('University of Engineering and Technology', 95)]
[('Staffordshire University', 100), ('Stanford University', 84)]
[('DePaul University, Chicago', 100), ('Gomal University', 73)]
[('University of Kent', 100), ('University Of Caen', 89)]
[('Mehran University of Engineering & Technology', 100), ('University of Engineering & Technology', 91)]
[('Quaid-e-Awam University of Engineering, Science & Technology', 100), ('Sir Syed University of Engineering and Technology', 81)]
[('Shah Abdul Latif University, Khairpur', 100), ('The Islamia University of Bahawalpur ', 67)]
[('Sindh Agriculture University', 100), ('SSindh Agriculture University', 98)]
[('Swansea', 100), ('ISRA University', 36)]
[('University of Shanghai for Science and Technology', 100), ('National University of Sciences and Technology', 82)]
[('Griffith University,Nathan Campus', 100), ('Griffith University', 73)]
[('University of Essex', 100), ('University of Leeds', 84)]
[('Xiamen university', 100), ('Zhejiang University', 78)]

Do you notice any inconsistencies in the data?  Can any of the inconsistencies in the data be fixed by removing white spaces at the beginning and end of cells?

Once you have answered these questions, run the code cell below to get credit for your work.

In [47]:
# Check your answer (Run this code cell to receive credit!)
q1.check()

Correct:

There are inconsistencies that can be fixed by removing white spaces at the beginning and end of cells.  For instance, "University of Central Florida" and " University of Central Florida" both appear in the column.

In [48]:
# Line below will give you a hint
#q1.hint()

# 2) Do some text pre-processing

Convert every entry in the "Graduated from" column in the `professors` DataFrame to remove white spaces at the beginning and end of cells.

In [49]:
# TODO: Your code here
#for graduate in graduates:
#    replace_matches_in_column(df=professors, column='Graduated from', string_to_match=graduate, min_ratio=98)

professors['Graduated from'] = professors['Graduated from'].str.strip()
# Check your answer
q2.check()

Correct

In [40]:
# Lines below will give you a hint or solution code
#q2.hint()
#q2.solution()

# 3) Continue working with countries

In the tutorial, we focused on cleaning up inconsistencies in the "Country" column.  Run the code cell below to view the list of unique values that we ended with.

In [50]:
# get all the unique values in the 'City' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)

Take another look at the "Country" column and see if there's any more data cleaning we need to do.

It looks like 'usa' and 'usofa' should be the same country.  Correct the "Country" column in the dataframe to replace 'usofa' with 'usa'.

**Use the most recent version of the DataFrame (with the whitespaces at the beginning and end of cells removed) from question 2.**

In [53]:
# TODO: Your code here!
matches = fuzzywuzzy.process.extract("usa", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
replace_matches_in_column(df=professors, column='Country', string_to_match="usa", min_ratio=70)

# Check your answer
q3.check()

All done!

Correct

In [52]:
# Lines below will give you a hint or solution code
#q3.hint()
#q3.solution()

# Congratulations!

Congratulations for completing the **Data Cleaning** course on Kaggle Learn!

To practice your new skills, you're encouraged to download and investigate some of [Kaggle's Datasets](https://www.kaggle.com/datasets).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/data-cleaning/discussion) to chat with other learners.*